.Board {
  display: grid;
  width: calc(var(--cell-size) * var(--grid-resolution));
  grid-template-rows: repeat(var(--grid-resolution), 1fr);
  grid-template-columns: repeat(var(--grid-resolution), 1fr);
}
