main {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    ". column-hints"
    "row-hints board"
  ;
}


.row_hints_wrapper {
  grid-area: row-hints;
}

.board_wrapper {
  grid-area: board;
}

.hint-count {
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  width: 1rem;
}