main {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    ". column_clues"
    "row-clues board";
}

.column_clues_container_positioner {
  grid-area: column_clues;
}

.row_clues_container_positioner {
  grid-area: row-clues;
}

.board_wrapper {
  grid-area: board;
}
