main {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    ". column_clues"
    "row-clues board";
}

button {
  background: #fff;
  border: 1px solid #000;
}

.next_button {
  margin-top: 1em;
  padding: 0.25em;
  font-family: "Tech Mono", monospace;
  font-size: 1.5rem;
}

.column_clues_container_gridarea {
  grid-area: column_clues;
}

.row_clues_container_gridarea {
  grid-area: row-clues;
}

.board_gridarea {
  grid-area: board;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}
