:root {
  --cell-size: 2rem;
  --grid-resolution: ; /* dynamic */
}

body {
  font-size: 1.5rem;
  padding: 1rem;
  font-family: "Tech Mono", monospace;
  margin: 0 auto;
  max-width: max-content;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding-top: 2rem;
  display: grid;
  justify-content: center;
}
